body {
    font-family: $font-stack;
    font-size: medium;
    background-color: $page-background-color;
    @media #{$large-and-up} {
        max-width: $large-page-width;
        margin: auto;
        padding: 30px 60px 0px 60px;
    }
    @media #{$medium-and-down} {
        margin: auto;
        padding: 0px 5px 0px 5px;
    }

    // sticky footer
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    padding: 0 0 70px 0;
    a:link, a:visited {
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: black;
    }
    ul.hide-on-med-and-down {
        li {
            a:link, a:visited {
                color: $navbar-color;
            }
            a:hover, a:active {
                color: black;
            }
        }
        li:hover {
            background-color: transparent;
        }
        a {
            padding: 0 0 0 30px;
        }
    }
    @media #{$large-and-up} {
        a.brand-logo {
            transition-duration: .3s;
            &:hover {
                transform: translateY(2px);
            }
        }
    }
    a.brand-logo {
        img {
            height: $logo-height;
            vertical-align: -10px;
        }
    }
}

main {
    flex: 1 0 auto;
}

img {
    max-width: 100%;
    margin: auto;
}

footer.page-footer {
    background-color: $footer-background-color;
    .footer-copyright {
        color: $footer-color;
        margin: auto;
        overflow: auto;
        img {
            vertical-align: middle;
        }
        a:link, a:visited {
            color: $footer-a-color;
        }
        a:hover {
            color: $footer-a-hover-color;
        }
    }
    @media #{$medium-and-down} {
        .footer-copyright {
            height: auto;
            line-height: 20px;
            img {
                padding: 10px 0 5px 0;
            }
        }
    }
}

h1, h2, h3 {
    font-family: sans-serif;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

p {
    text-indent: 2em;
}

ul {
    list-style-type: disc;
    ul {
        list-style-type: circle;
    }
}