html {
    font-family: $font-stack;
}

body {
    font-size: medium;
    background-color: $page-background-color;
    @media #{$large-and-up} {
        max-width: $large-page-width;
        margin: auto;
        padding: 30px 60px 0px 60px;
    }
    @media #{$medium-and-down} {
        margin: auto;
    }

    // sticky footer
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    @media #{$large-and-up} {
        padding: 0 0 70px 0;
        a.brand-logo {
            transition-duration: .3s;
            &:hover {
                transform: translateY(2px);
            }
        }
        ul {
            padding: 0;
            li {
                list-style-type: none;
                a:link, a:visited {
                    color: $navbar-color;
                }
                a:hover, a:active {
                    color: black;
                }
            }
            li:hover {
                background-color: transparent;
            }
            a {
                padding: 0 0 0 30px;
            }
        }
    }
    @media #{$medium-and-down} {
        padding: 0;
    }
    a.brand-logo {
        font-family: "FZSuXinShiLiuKai";
        font-size: 260%;
    }
    ul {
        padding: 0;
        li {
            list-style-type: none;
        }
    }
    a:link, a:visited {
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: black;
    }
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 15px;
    img {
        align: middle;
        padding: 0 0 0.5em 0;
    }
    .footer-copyright {
        color: $footer-color;
        height: auto;
        padding: 0.5em 0 0.5em 0;
        line-height: 1.5em;
    }
    @media #{$large-and-up} {
        background-color: $large-footer-background-color;
        .footer-copyright {
            background-color: $large-footer-background-color;
        }
    }
    @media #{$medium-and-down} {
        background-color: $small-footer-background-color;
    }
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

/* body { */
/*     counter-reset: chapter; */
/* } */

/* h1 { */
/*     counter-reset: section; */
/* } */

/* h2 { */
/*     counter-reset: subsection; */
/* } */

/* h3 { */
/*     counter-reset: subsubsection; */
/* } */

/* h1:before { */
/*     content: counter(chapter) ". \00a0"; */
/*     counter-increment: chapter; */
/* } */

/* h2:before { */
/*     content: counter(chapter) "." counter(section) " \00a0"; */
/*     counter-increment: section; */
/* } */

/* h3:before { */
/*     content: counter(chapter) "." counter(section) "." counter(subsection) " \00a0"; */
/*     counter-increment: subsection; */
/* } */

/* h4:before { */
/*     content: counter(chapter) "." counter(section) "." counter(subsection) "." counter(subsubsection) " \00a0"; */
/*     counter-increment: subsubsection; */
/* } */

p {
    text-indent: 2em;
    padding: 0;
    margin: 0;
}

p + p {
    padding-top: 1em;
}

p + ul {
    padding-top: 0;
    margin-top: 0.5em;
}

ul + p {
    margin-top: 0.5em;
}

ul {
    list-style-type: square;
    list-style-position: inside;
    padding-left: 15px;
    padding-top: 0;
    li {
        list-style-type: square;
        p {
            text-indent: 0;
        }
    }
    ul {
        padding-left: 25px;
        li {
            list-style-type: disc;
        }
        ul li {
            list-style-type: circle;
        }
    }
}

ol {
    p {
        text-indent: 0;
    }
    line-height: 1.6em;
}

img {
    max-width: 100%;
    margin: auto;
}

strong {
    font-weight: bold;
}

blockquote {
    background-color: $blockquote-background-color;
    padding: 0.5em 1em 0.5em 1em;
    border-left: 5px solid $blockquote-border-color;
}

pre {
    background-color: $pre-background-color;
    padding: 1em 2em 1em 2em;
    border-radius: 5px;
    code {
        background-color: $pre-background-color;
        color: $pre-color;
    }
}

code {
    background-color: $code-background-color;
    color: $code-color;
}