$font-stack: "Times New Roman", Georgia, "Hiragino Sans GB", "SimSun", "WenQuanYi Micro Hei", sans-serif;
$page-background-color: color("grey", "lighten-2");
$page-width: 1024px;
$navbar-color: color("grey", "darken-1");
$footer-background-color: color("grey", "lighten-1");
$footer-color: color("grey", "darken-3");
$footer-a-color: color("grey", "darken-4");
$footer-a-hover-color: black;
$logo-height: 40px;
