$font-stack: "Roboto", sans-serif;
$FZ-font-path: "/font/FangZheng/";
$roboto-font-path: "/bower_components/materialize/font/roboto/";

$page-background-color: color("grey", "lighten-2");
$large-page-width: 1024px;
$navbar-color: color("grey", "darken-1");
$small-navbar-background-color: color("grey", "lighten-1");
$large-footer-background-color: transparent;
$small-footer-background-color: color("grey", "lighten-1");
$footer-color: color("grey", "darken-4");

$blockquote-background-color: color("grey", "lighten-3");
$blockquote-border-color: color("grey", "darken-2");

$pre-background-color: color("grey", "lighten-2");
$pre-color: black;
$code-background-color: color("yellow", "lighten-4");
$code-color: color("green", "darken-4");

$card-padding: 20px 30px 20px 30px;